<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="vendors/exif-js/exif-js"></script>
  
  <title>Map</title>
</head>
<body>
        <iframe src="https://maps.google.com/maps?q=<%=latitude%>,<%=longitude%>&hl=en&z=14&amp;output=embed" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        <form>
            <input class="btn btn-info" type="button" value="Go back" onclick="history.back()">
        </form>
        </body>
</html>